<!--<div #container class="note-card-container">

  <div class="note-card-content">
    <h1 class="note-card-title">title dw</h1>

    <div class="note-card-body">body</div>  

  </div>

</div>-->

<div #container class="note-card-container" >


  <a [routerLink]="link" (click)="createNewNoteSound()">
    <div class="note-card-content">
    
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-card-title">{{ title }}</ion-card-title>
        </ion-card-header>
  
  
        <div class="note-card-body">
  
          <ion-card-content>
            {{ body }}
          </ion-card-content>
            
                                 
              <div #truncator class="fade-out-truncation"></div>
             
        </div>
      
       </ion-card>
  
    </div>
  
    <div class="edit-button" >
      <ion-icon type="button" name="create-outline"></ion-icon>
    </div>
  
   <!--<ion-button class="alarm-button" shape="round" color="secondary">
     <ion-icon slot="icon-only" name="alarm-outline"></ion-icon>
   </ion-button>  -->
  </a>
  
  <div class="x-button" (click)="onXButtonClick()"> </div>

</div>