<ion-content class="alarm-container">
  <!--<ion-datetime color="dark" [showDefaultTitle]="true" [showDefaultButtons]="true"></ion-datetime>
  <ion-datetime class="alarmClock" color="danger" [showDefaultButtons]="true"></ion-datetime>-->

  <!--<ion-item>-->
   <!-- <ion-label position="stacked">Alarm Time</ion-label> -->
  <ion-datetime displayFormat="h:mm A" [(ngModel)]="alarmTime" size="auto-grow"></ion-datetime>
  <!--</ion-item>-->
  <ion-button expand="block" (click)="setAlarm()" color="dark">Set Alarm</ion-button>
</ion-content>
