<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title class="title">
      Rminder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="page-content">
    <router-outlet></router-outlet>
  </div>

  

  <div class="starry-overlay">
    <div *ngFor="let star of stars" 
         class="star" 
         [ngStyle]="{
           'top': star.top,
           'left': star.left,
           'transform': 'scale(' + star.scale + ')',
           'animationDelay': star.animationDelay
         }">
    </div>
  </div>
  

 <!-- <div class="flying-cats">
    <div class="cat">
      <div class="cat-sprite"></div>
    </div>
  </div>
-->


<!--<div class="idle-cat"></div>-->
<div *ngIf="showCat" class="Egyptidle-cat"></div>



  

  
  
  
  <!--<div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>-->
  <!--<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Blank</ion-title>
  </ion-toolbar>
</ion-header>-->
</ion-content>
