<ion-header [translucent]="true">
  <ion-toolbar  >
    <ion-title class="title">
      Rminder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <div class="page-content">
    <router-outlet></router-outlet>
  </div>

  <!--<div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>-->
  <!--<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">Blank</ion-title>
  </ion-toolbar>
</ion-header>-->
</ion-content>
